aiosqlite==0.16.1
asyncpg==0.22.0
attrs==20.3.0
iniconfig==1.1.1
iso8601==0.1.14
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytest==6.2.2
pytest-tornado==0.8.1
pytz==2020.5
toml==0.10.2
tornado==6.1
tortoise-orm==0.17.0
typing-extensions==3.7.4.3
